.react-calendar {
  width: 100% !important;
  max-width: 100% !important;
}

.react-calendar--doubleView {
  width: 100% !important;
}

.react-calendar__viewContainer > * {
  width: 100% !important;
}

.react-calendar__tile {
  padding: 8px !important;
}
.react-calendar__tile--now {
  background: #ffbf76;
  border-radius: 20px;
}
.react-calendar__tile--hasActive {
  background: #fecd2c;
  border-radius: 20px;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #fecd2c;
  border-radius: 20px;
}

.react-calendar__tile--active {
  background: #fecd2c;
  border-radius: 20px;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #fecd2c;
  border-radius: 20px;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #ff941b;
  border-radius: 20px;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ff941b;
  border-radius: 20px;
}
